html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
/*面包屑样式*/
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
/*card样式*/
.el-card {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table {
    margin-top: 15px;
}